<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<h1>Welcome to iVotd</h1>
	
	<p>Blah Blah Blah</p>

	<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>